---
layout: default
navPage: home
css: home
---

<!-- 		Large background                 -->
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <h1 class="bold-font display-3 text-center">Which State do You Live in?</h1>
        <p class="lead text-center">Some simple slogan  <a class="btn btn-primary" href="#satesListing" role="button">Get Started</a></p>
      </div>
    </div>
  </div>



<!-- 		Details                    -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Find My State</h1>
    </div>
  </div>
  
  <div style="position: relative; width: 100%; height: 0; padding-top: 177.7778%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFXBDTsHwo&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFXBDTsHwo&#x2F;view?utm_content=DAFXBDTsHwo&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Rules</a> by Peter Flickinger

  <div class="row" id="satesListing">
    <div class="col-md-4">
      {% assign count = 0 %}
      {% for s in site.states %}
        <a href="{{ site.baseurl }}{{ s.url }}"><h2>{{ s.content }}</h2></a>
        {% assign count = count | plus:1 %}
        {% assign mod = count | modulo:17 %}
          {% if mod == 0 %}
            </div><div class="col-md-4">
          {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
