<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="nav navbar-nav" id="nav-my-state">
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/state">All States</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/add">Add A Posting</a></li>
   </ul>
    <ul class="nav navbar-nav ml-auto">
      <form class="form-inline my-lg-0">
               <input type="text" class="form-control mr-sm-2" name="username" placeholder="Username">

               <input type="password" class="form-control mr-sm-2" name="password" placeholder="Password">
           <button type="submit" class="btn btn-default mr-sm-2">Sign In</button>
       </form>

    </ul>
  </div>
</nav>
